/**************************************************
 *  Tags/Labels
 **************************************************/

.badge-light {
  border: none;
  color: $sta-dark-grey;
  background: rgba(229, 229, 229, 1);
  font-weight: normal;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.article-tags > .badge-light:last-child {
  margin-right: 0;
}

.badge-light[href]:focus,
.badge-light[href]:hover {
  background: darken(rgba(229, 229, 229, 1),10%);
}

a.badge:focus,
a.badge:hover {
  color: $sta-dark-grey;
}

.tag-cloud a {
  color: $sta-primary;
  display: inline-block;
  position: relative;
  margin: 8px 10px;
  word-wrap: break-word;
  transition-duration: 0s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.dark .tag-cloud a {
  color: $sta-dark-primary;
}

.tag-cloud a:active,
.tag-cloud a:focus,
.tag-cloud a:hover {
  color: $sta-primary;
  transform: scale(1);
}

.dark .tag-cloud a:active,
.dark .tag-cloud a:focus,
.dark .tag-cloud a:hover {
  color: $sta-dark-primary;
}
