/*************************************************
 *  Author profile card
 **************************************************/

.author-card .avatar {
  width: 60px;
  height: 60px;
}

.author-card .card-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.84);
}

.author-card .card-title a {
  color: rgba(0, 0, 0, 0.84);
}

.dark .author-card .card-title,
.dark .author-card .card-title a {
  color: $sta-light-grey;
}

.author-card p {
  margin-bottom: 5px;
}

.author-card .card-subtitle {
  font-weight: 300;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 7px;
}

.dark .author-card .card-subtitle {
  color: rgba(255, 255, 255, 0.6);
}

.author-card .card-text {
  color: rgba(0, 0, 0, 0.72);
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.dark .author-card .card-text {
  color: $sta-light-grey;
}
